.u-section-1 .u-sheet-1 {
  min-height: 891px;
}

.u-section-1 .u-image-1 {
  width: 242px;
  height: 400px;
  margin: 28px auto 0 102px;
}

.u-section-1 .u-image-2 {
  width: 265px;
  height: 373px;
  margin: -400px 63px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -265px auto 0 475px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 288px auto 0 145px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 161px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -270px;
    margin-left: 392px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 184px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    height: 400px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -72px;
    margin-left: 158px;
    padding: 10px 61px 10px 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -43px;
    margin-right: 115px;
    padding: 10px 60px 11px 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 29px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-2 {
    margin-right: -15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 134px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -89px;
    margin-left: 75px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -40px;
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 151px;
    height: 328px;
  }

  .u-section-1 .u-image-2 {
    width: 179px;
    height: 269px;
    margin-top: -269px;
    margin-right: -25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 101px;
    margin-right: 87px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -86px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -43px;
    margin-right: 0;
  }
}